<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent Video Survillance System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <script src="https://use.fontawesome.com/522d9f8ab6.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='images/favicon-16x16.png')}}">
    <link rel="manifest" href="/site.webmanifest">

</head>
<body>
    <div class="container">
        <div class="navbar">
            <nav>
                <img src="{{url_for('static',filename='images/security-camera.png')}}" alt="mlogo" class="mlogo">

                <ul>
                    <li>
                        <a href="{{url_for('index')}}">
                            <i class="fa fa-home" aria-hidden="true"></i>Home
                        </a>
                    </li>
                    <li>
                        <a href="https://pjreddie.com/darknet/yolo/">
                            <i class="fa fa-y-combinator" aria-hidden="true"></i>YOLO
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/anubhavshail/Video_analyzer.git">
                            <i class="fa fa-github" aria-hidden="true"></i>GitHub
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="page-container">
            <h1>Intelligent Video Surveillance System <br>Using YOLO</h1>
            <div class="path">
                <div class="ipath">
                    <a href="{{url_for('objectdetection')}}">
                        <img src="{{url_for('static', filename='images/3d.png')}}" alt="object detection">
                    </a>
                    <h5>Object Detection</h5>
                </div>
                <div class="ipath">
                    <a href="{{url_for('falldetection')}}">
                        <img src="{{url_for('static', filename='images/accident.png')}}" alt="fall detection">
                    </a>
                    <h5>Fall Detection</h5>
                </div>
                <div class="ipath">
                    <a href="{{url_for('carcrashdetection')}}">
                        <img src="{{url_for('static', filename='images/car-crash.png')}}" alt="car-crash">
                    </a>
                    <h5>Car Crash Detection</h5>
                </div>
                <div class="ipath">
                    <a href="{{url_for('socialdistancingdetection')}}">
                        <img src="{{url_for('static', filename='images/social-distancing.png')}}" alt="social-distancing">
                    </a>
                    <h5>Social Distancing Detection</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>